.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 40px;

      input {
        width: 100%;
        padding: 10px;
      }
      
      textarea {
        width: 100%;
        height: 150px;
        padding: 10px;
    }
    
    button{
        width: 160px;
        height: 35px;
        border: solid 1px #000;
        border-radius: 10px;
      }
    }
  }
}
