.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  .section-content {
    padding: 20px;
    &-wrapper {
      width: 100%;
      
      hr {
        border: solid 1px #000;
        margin: 20px;
      }
      
      a{
        color: #000;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      
      input {
        width: 100%;
        height: 30px;
      }
      
      input::placeholder{
        padding: 10px;
      }

      textarea {
        width: 100%;
        height: 150px;
        &::placeholder{
          padding: 10px;
        }
      }

      button {
        max-width: 160px;
        width: 100%;
        height: 35px;
        border: solid 1px #000;
        border-radius: 10px;
      }
    }
  }
}
