.github-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 20px;
  
  a {
    color: #fff;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adb5bd;
    border-radius: 15px;
    padding: 10px;
    .icon-container {
      max-width: 30px;
      max-height: 30px;
      display: flex;
      box-sizing: content-box;
    }
  }

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
