header {
  height: 80px;
  background-color: #f5f5f5;
  background-color: #121212;
  padding: 20px;
  nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    position: relative;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #000;
      background-color: #121212;
      border: none;
      font-size: 18px;
    }
    .nav-link{
      text-decoration: none;
      color: #fff;

    }
    
    button.nav-link:hover{
      cursor: pointer;
    }
  }
}
