@import "./reset.scss";
@import "./header.scss";
@import "./sidemodal.scss";
@import "./welcome.scss";
@import "./footer.scss";
@import "./videocard.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./skills.scss";

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;  
  padding-top: 124px;
}
main {
  max-width: 1440px;
}

.no-scroll{
  position: fixed;
}


