@import "./reset.scss";
@import "./header.scss";
@import "./sidemodal.scss";
@import "./welcome.scss";
@import "./footer.scss";
@import "./videocard.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./skills.scss";
@import "./videocard.scss";
@import "./cardmodal.scss";
@import "./services.scss";
@import "./about.scss";
@import "./parallaxe.scss";
@import "./github-item.scss";

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 110px;
}
.no-scroll {
  position: fixed;
}
.divider{
  padding: 20px 0;
  hr {
    border: solid 1px #000;
    margin: auto;
    max-width: 650px;
    width: 100%;
    
  }
}

@media (min-width: 1024px) {
hr{
  margin: auto;
}
}
