#parallaxe {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: end;
    font-size: 58px;
    color: #fff;
    background-image: url("../img/assets/img/water.jpg");
    background-size:cover ;
    background-position: center;

    background-attachment: fixed;
}