.projects{
    display: flex;
    flex-direction: column;
    h2{
      margin-bottom: 50px;
    }
}
.card-wrrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
