.projects {
  display: flex;
  flex-direction: column;
  padding: 20px;

  hr {
    border: solid 1px #000;
    margin: 20px;
  }
}
.card-wrrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  
  .card {
    background-color: #adb5bd;
    border-radius: 15px;
  }
}
