.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-wrrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  flex-wrap: wrap;
  grid-column-gap: 20px;
}
