
.side-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcbcbc;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  top: -140px;
  right: 0;

  &-container {
    display: flex;
    position: relative;

    &-close-btn {
      display: flex;
      position: absolute;
      left: 20px;
      top: 20px;
      border: none;
      background-color: #bcbcbc;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;

    a.nav-link {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      text-decoration: none;
      color: #000;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.open {
    animation: openModal .5s ease-in-out 0s 1 normal forwards;
  }
  
  &.close {
    animation: closeModal .5s ease-in 0s 1 normal forwards;
  }
  
}

@keyframes openModal {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;

  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@keyframes closeModal {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;

  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
}
