#skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;

  .competences {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5f5f5;

    p {
      font-weight: 500;
    }
    .competences-wrapper {
      background-color: #bcbcbc;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding: 20px;
      border-radius: 15px;
      
      .icons {
        display: flex;
        max-width: 50px;
        min-width: 50px;
        max-height: 50px;

        img {
          object-fit: contain;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#select-wrapper {
  margin: auto;
  h1 {
    font-size: 24px;
  }

  hr {
    border: solid 1px #000;
    margin: 20px;
  }
  .button-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 60px;
      padding: 10px;
      border: none;
      background-color: #000;
      color: #f5f5f5;
      cursor: pointer;
      
      h2 {
        font-size: 12px;
      }
      
      &.active {
        background-color: #f5f5f5;
        color: #000;
      }
    }
  }
  .hidden {
    display: none;
  }

  .career {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;

    hr {
      border: solid 1px #000;
      margin: 0 20px;
    }
    span {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
@media (min-width: 1024px) {
  #skills {
    .competences {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #select-wrapper {
    max-width: 1440px;
    .button-wrapper {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      :nth-child(1) {
        border-top-left-radius: 15px;
      }
      :nth-child(2) {
        border-top-right-radius: 15px;
      }
    }
  }
}
