.card-video {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  .video-description:hover {
    cursor: pointer;
  }
  video {
    transition: opacity .45s ease ; /* Transition de l'opacité */
  }
}

video:not(:hover) {
  opacity: 0.6; /* Opacité réduite lors du survol */
}
