.welcome {
  display: flex;
  justify-content: center;
  
  &-content {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    h1 {
      font-weight: 400;
      font-size: 2em;
      color: #363636;
    }
    
    h2 {
      color: #0a0a0a;
      font-size: 3em;
    }
    
    p {
      font-size: 80px;
      color: #1c1c1c;
    }

    .welcome-subtitle {
      display: flex;
      gap: 10px;
      align-items: last baseline;
      @keyframes blink {
        0% {
          opacity: 0;
        }
        40% {
          opacity: 0;
        }
        50% {
          opacity: 0.9;
        }
        60% {
          opacity: 0.9;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      
      .undescore {
        display: inline-block;
        width: 2em; /* Ajustez la largeur selon vos besoins */
        height: 0.125em; /* Ajustez la hauteur selon vos besoins */
        background-color: black; /* Couleur de l'underscore */
        animation: blink 1s infinite;
      }
      
    }
  }
}
