.welcome {
  display: flex;
  justify-content: center;
  min-height: 81vh;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  h2 {
    text-align: start;
    font-size: 2.2em;
  }
  .animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .identity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      object-fit: contain;
      max-width: 75%;
      height: auto;
      border-radius: 25px;
    }
  }

  &-content {
    max-width: 1440px;
    display: flex;
    opacity: 0;
    height: 0;
    flex-direction: column;
    justify-content: start;
    animation: slideLeft 1.5s ease-out 20s normal none,
      resetOpacity 2s 20s forwards;

    h1 {
      font-weight: 400;
      font-size: 2em;
      color: #363636;
    }

    @keyframes translateRight {
      0% {
        opacity: 0;
        transform: translateX(-12vw);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    h2 {
      color: #0a0a0a;
      font-size: 2.6em;
      animation: translateRight 1.5s ease 20s 1 normal forwards;
    }

    @keyframes slideLeft {
      0% {
        opacity: 0;
        height: 0;
        transform: translateX(12vw);
      }

      100% {
        opacity: 1;
        height: 100%;
        transform: translateX(0);
      }
    }

    @keyframes resetOpacity {
      to {
        opacity: 1;
        height: 100%;
      }
    }

    p {
      font-size: 2.2em;
      color: #1c1c1c;
    }

    .welcome-subtitle {
      display: flex;
      gap: 10px;
      align-items: last baseline;
      justify-content: end;

      @keyframes blink {
        0% {
          opacity: 0;
        }
        40% {
          opacity: 0;
        }
        50% {
          opacity: 0.9;
        }
        60% {
          opacity: 0.9;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .undescore {
        display: inline-block;
        width: 2em; /* Ajustez la largeur selon vos besoins */
        height: 0.125em; /* Ajustez la hauteur selon vos besoins */
        background-color: black; /* Couleur de l'underscore */
        animation: blink 1s infinite;
      }
    }
  }

  .animated-text {
    font-size: 1em;
    font-weight: 600;
  }

  .animated-text span {
    position: relative;
    display: flex;
  }

  .animated-text span::before {
    content: "Amanville Damien";
    color: #0a0a0a;
    animation: words 20s;
  }

  .animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #fff;
    border-left: 2px solid #fff;
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14),
      resetWidth 0.1s 18s forwards;
  }

  @keyframes cursor {
    to {
      border-left: 2px solid #fff;
    }
  }

  @keyframes words {
    0%,
    20% {
      content: "Mon nom est Amanville Damien";
    }
    21%,
    40% {
      content: "Bienvenue sur mon portfolio";
    }
    41%,
    60% {
      content: "Passionné de nouvelles technos";
    }
    61%,
    80% {
      content: "Et aussi d'impression 3D";
    }
    81%,
    100% {
      content: "Mais ça c'est une autre histoire !";
    }
  }
  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90% {
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }
  @keyframes resetWidth {
    to {
      width: 0;
    }
  }
}

@media (min-width: 600px) {
  .welcome {
    flex-wrap: nowrap;
    align-items: center;
    min-height: 84vh;
    .animated {
      .animated-text {
        display: flex;
        justify-content: center;
      }
      .welcome-content {
        width: 100%;
        h2 {
          font-size: 3em;
        }
        h1 {
          font-size: 2.5em;
        }
      }
    }
    .identity {
      img {
        max-width: 100%;
      }
    }
  }
}
