@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  width: 100%;
  background-color: #f5f5f5;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header a {
  text-align: left;
  font-weight: 200;
}
header nav {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 45px;
}
header nav button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  background-color: #121212;
  border: none;
  font-size: 18px;
}
header nav .nav-link {
  text-decoration: none;
  color: #fff;
}
header nav button.nav-link:hover {
  cursor: pointer;
}

.side-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcbcbc;
  position: absolute;
  z-index: 200;
  top: -140px;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 110vh;
}
.side-modal-container {
  display: flex;
  position: relative;
}
.side-modal-container-close-btn {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  border: none;
  background-color: #bcbcbc;
}
.side-modal nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}
.side-modal nav a.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.side-modal nav a.nav-link:hover {
  text-decoration: underline;
}
.side-modal.open {
  animation: openModal 0.5s ease-in-out 0s 1 normal forwards;
  overflow: hidden; /* Empêche le défilement */
}
.side-modal.close {
  animation: closeModal 0.5s ease-in 0s 1 normal forwards;
  display: none;
}
@keyframes openModal {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@keyframes closeModal {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}
.welcome h2 {
  text-align: start;
  font-size: 2.2em;
}
.welcome .identity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.welcome .identity img {
  object-fit: contain;
  max-width: 75%;
  height: auto;
  border-radius: 25px;
}
.welcome-content {
  max-width: 1440px;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: start;
  animation: slideLeft 1.5s ease-out 20s normal none, resetOpacity 2s 20s forwards;
}
.welcome-content h1 {
  font-weight: 400;
  font-size: 2em;
  color: #363636;
}
@keyframes translateRight {
  0% {
    opacity: 0;
    transform: translateX(-12vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.welcome-content h2 {
  color: #0a0a0a;
  font-size: 2.6em;
  animation: translateRight 1.5s ease 20s 1 normal forwards;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(12vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes resetOpacity {
  to {
    opacity: 1;
  }
}
.welcome-content p {
  font-size: 2.2em;
  color: #1c1c1c;
}
.welcome-content .welcome-subtitle {
  display: flex;
  gap: 10px;
  align-items: last baseline;
  justify-content: end;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.welcome-content .welcome-subtitle .undescore {
  display: inline-block;
  width: 2em; /* Ajustez la largeur selon vos besoins */
  height: 0.125em; /* Ajustez la hauteur selon vos besoins */
  background-color: black; /* Couleur de l'underscore */
  animation: blink 1s infinite;
}
.welcome .animated-text {
  font-size: 1em;
  font-weight: 600;
}
.welcome .animated-text span {
  position: relative;
  display: flex;
}
.welcome .animated-text span::before {
  content: "Amanville Damien";
  color: #0a0a0a;
  animation: words 20s;
}
.welcome .animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #f5f5f5;
  border-left: 2px solid #fff;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14), resetWidth 0.1s 18s forwards;
}
@keyframes cursor {
  to {
    border-left: 2px solid #f5f5f5;
  }
}
@keyframes words {
  0%, 20% {
    content: "Mon nom est Amanville Damien";
  }
  21%, 40% {
    content: "Bienvenue sur mon portfolio";
  }
  41%, 60% {
    content: "Passionné de nouvelles technos";
  }
  61%, 80% {
    content: "Et aussi d'impression 3D";
  }
  81%, 100% {
    content: "Mais ça c'est une autre histoire !";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
@keyframes resetWidth {
  to {
    width: 0;
  }
}

footer {
  background-color: #121212;
  padding: 50px;
  margin-top: auto;
  color: #fff;
}
footer section {
  display: flex;
  justify-content: center;
}

.card-video {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}
.card-video video {
  transition: opacity 0.45s ease; /* Transition de l'opacité */
}

video:not(:hover) {
  opacity: 0.6; /* Opacité réduite lors du survol */
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.projects hr {
  border: solid 1px #000;
  margin: 20px;
}

.card-wrrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card-wrrapper a {
  color: #000;
  text-decoration: none;
}
.card-wrrapper .card {
  background-color: #adb5bd;
  border-radius: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact .form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
.contact .form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.contact .form-wrapper form input {
  width: 100%;
  padding: 10px;
}
.contact .form-wrapper form textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}
.contact .form-wrapper form button {
  width: 160px;
  height: 35px;
  border: solid 1px #000;
  border-radius: 10px;
}

.competences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}
.competences span {
  text-decoration: underline;
  font-weight: 700;
}
.competences h1 {
  font-size: 24px;
}
.competences hr {
  border: solid 1px #000;
  margin: 0 20px;
}
.competences .competences-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: #adb5bd;
  border-radius: 15px;
}
.competences .competences-wrapper p {
  text-decoration: underline;
}
.competences .competences-wrapper .icons {
  display: flex;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
}
.competences .competences-wrapper .icons img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  position: relative;
  margin-top: 140px;
  min-height: 100vh;
  width: 100%;
}

main {
  max-width: 1440px;
}

.no-scroll {
  position: fixed;
}

/*# sourceMappingURL=index.css.map */
