@import "../base/mixins.scss";

.icon-items {
  &-wrapper {
    @include flex-content-center;
    gap: 10px;
    background-color: #bcbcbc;
    
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 40px;
      max-height: 40px;
    }
  }
}
