@import "../base/mixins.scss";

#skills {
  @include flex;
  @include flex-column;
  padding: 20px;
  background-color: #f5f5f5;
  gap: 20px;

  .competences {
    @include flex;
    @include flex-column;
    gap: 20px;
    background-color: #f5f5f5;

    .icon-items {
      @include flex;
      @include flex-column;
      gap: 20px;
      &-wrapper {
        padding: 20px;
        flex-wrap: wrap;
        border-radius: 15px;
      }
    }
    p {
      font-weight: 500;
    }

    .competences-wrapper {
      @include flex-item-center;
      background-color: #bcbcbc;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px;
      border-radius: 15px;

      .icons {
        @include flex;
        max-width: 50px;
        min-width: 50px;
        max-height: 50px;

        img {
          object-fit: contain;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#select-wrapper {
  margin: auto;
  padding: 20px;

  .button-wrapper {
    @include flex-center;
    margin: auto;

    button {
      @include flex-center;
      width: 50%;
      height: 60px;
      padding: 10px;
      border: none;
      background-color: #000;
      color: #f5f5f5;
      cursor: pointer;

      h2 {
        font-size: 12px;
      }

      &.active {
        background-color: #f5f5f5;
        color: #000;
        text-decoration: underline;
      }
    }
  }
  .hidden {
    display: none;
  }

  .career {
    @include flex;
    @include flex-column;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;

    span {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
@media (min-width: 1024px) {
  #skills {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .competences {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      &-wrapper {
        border-radius: 0;
      }
    }
  }

  #select-wrapper {
    max-width: 1440px;
    margin-bottom: 50px;

    .button-wrapper {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      :nth-child(1) {
        border-top-left-radius: 15px;
      }

      :nth-child(2) {
        border-top-right-radius: 15px;
      }
    }
  }
}
