.welcome {
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  h2 {
    text-align: start;
    font-size: 2.2em;
  }

  .animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .identity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      object-fit: contain;
      max-width: 75%;
      height: auto;
      border-radius: 25px;
    }
  }

  &-content {
    max-width: 1440px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: end;
    animation: slideLeft 1.5s ease-out forwards;

    h1 {
      font-weight: 400;
      font-size: 2em;
      color: #fff;
    }

    @keyframes translateRight {
      0% {
        opacity: 0;
        transform: translateX(-12vw);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    h2 {
      color: #fff;
      font-size: 2.6em;
      animation: translateRight 1.5s ease 1 normal forwards;
    }

    @keyframes slideLeft {
      0% {
        opacity: 0;
        transform: translateX(12vw);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    p {
      font-size: 2.2em;
      color: #fff;
    }

    .welcome-subtitle {
      display: flex;
      gap: 10px;
      align-items: last baseline;
      justify-content: end;

      @keyframes blink {
        0% {
          opacity: 0;
        }
        40% {
          opacity: 0;
        }
        50% {
          opacity: 0.9;
        }
        60% {
          opacity: 0.9;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .undescore {
        display: inline-block;
        width: 2em;
        height: 0.125em;
        background-color: #fff;
        animation: blink 1s infinite;
      }
    }
  }

  .animated-text {
    font-size: 1em;
    font-weight: 600;
  }

  .animated-text span {
    position: relative;
    display: flex;
  }

  @keyframes cursor {
    to {
      border-left: 2px solid #fff;
    }
  }
}

@media (min-width: 600px) {
  .welcome {
    flex-wrap: nowrap;
    align-items: end;

    .animated {
      .welcome-content {
        width: 100%;

        h2 {
          font-size: 3em;
        }

        h1 {
          font-size: 2.2em;
        }
      }
    }
    .identity {
      img {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .welcome {
    justify-content: end;
    margin-right: 15vw;

    .identity {
      img {
        max-width: 85%;
      }
    }
  }
}
